@model Recipies.Models.RecipesModels.RecipeViewModel


<!DOCTYPE html>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">            
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PortionsSize" class="control-label"></label>
                <input asp-for="PortionsSize" class="form-control" />
                <span asp-validation-for="PortionsSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeToPrepare" class="control-label"></label>
                <input asp-for="TimeToPrepare" class="form-control" />
                <span asp-validation-for="TimeToPrepare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreparationDescription" class="control-label"></label>
                <textarea asp-for="PreparationDescription" class="form-control"></textarea>
                <span asp-validation-for="PreparationDescription" class="text-danger"></span>
            </div>                                 
            <div class="form-group">
                <label asp-for="TotalCalories" class="control-label"></label>
                <input asp-for="TotalCalories" class="form-control" />
                <span asp-validation-for="TotalCalories" class="text-danger"></span>
            </div>                       
            <div class="form-group">
                <label asp-for="Categories" class="control-label"></label>
                <select asp-for="Categories" class="form-control">
                 @foreach (var category in Model.Categories)
                 {
                     <option>@category</option>
                 }
                </select>
                <span asp-validation-for="Categories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

