@model Microsoft.AspNetCore.Identity.IdentityRole
<div class="header mt-md-5">
    <div class="header-body">
        <div class="row align-items-center">
            <div class="col">
                <h6 class="header-pretitle">
                    Роли
                </h6>
                <h1 class="header-title">
                    Създаване на нова роля
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <form class="forms-sample" asp-action="CreateRole" asp-controller="Admin">
            <div class="row">
                <div class="form-group col-md-12">
                    <label asp-for="Name">Роля</label>
                    <input asp-for="@Model.Name" type="text" class="form-control" placeholder="Въведете име на ролята"
                           required="required">
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <div class="sign-btn text-center">
                        <input type="submit" class="btn btn-primary btn-block" value="Добавяне на нова роля">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <div class="sign-btn text-center">
                        <a asp-controller="Admin" asp-action="AllRoles" class="btn btn-secondary btn-block">Назад</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
